<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
          <h2>  <%= @stadium.name %> </h2>
            <div>
              <%= image_tag @stadium['photo'], style:"height: 800px; width: 1000px;" %>
           </div>
      </div>
    </div>
  </div>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel1">Experiences</a></dd>
    <dd><a href="#panel2"> Stadium Layout</a></dd>
    <dd><a href="#panel3"> Stadium Information</a></dd>
    <dd><a href="#panel4"> Hotels</a></dd>
    <dd><a href="#panel5"> Bars</a></dd>
    <dd><a href="#panel6"> Attractions</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="panel"><div class="row">
        <div class="large-12">
          <div class="panel">
            <h5>Add Experience</h5>
              <%= form_for [@stadium, @experience] do |f| %>
                <div>
                  <%= f.label :title %>
                  <%= f.text_field :title %>
                </div>
                <div>
                  <%= f.label :summary %>
                  <%= f.text_area :summary %>
                </div>
                <div class="large-3">
                  <%= f.label :food %>
                  <%= f.select :food, (1..5) %>
                </div>
                <div class="large-3">
                  <%= f.label :atmosphere%>
                  <%= f.select :atmosphere, (1..5) %>
                </div>
                <div class="large-3">
                  <%= f.label :neighborhood %>
                  <%= f.select :neighborhood, (1..5) %>
                </div>
                <div class="large-3">
                  <%= f.label :fans %>
                  <%= f.select :fans, (1..5) %>
                </div>
                <div><%= f.submit "Add Experience", class: "tiny button active nice round" %></div>
             <% end %>
          </div>
         </div>
      </div>
  <% @experiences.each do |experience| %>
    <div class="row">
      <div class="large-12">
        <div class="panel">
          <div>
            <h5><strong><%= experience.title %></strong></h5>
          </div>
          <div>
            <h6><%= experience.summary %></h6>
            <h6> Food: <%= experience.food %></h6>
            <h6> Atmosphere: <%= experience.atmosphere%></h6>
            <h6> Neighborhood: <%= experience.neighborhood %></h6>
            <h6> Fans: <%= experience.fans %></h6>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    </div>
      <div class="content" id="panel2">
        <div> <%=image_tag @stadium['seating_chart'], style:"height: 800px; width: 1000px;" %></div>
      </div>
      <div class="content" id="panel3">
        <div class="panel">
          <div>
            Location: <%=@stadium.city %>, <%= @stadium.state %>
          </div>
          <div>
              Capacity: <%=(@stadium.capacity)%>
           </div>
           <div>
             Playing Surface: <%=@stadium.playing_surface %>
           </div>
           <div>
             Roof Type: <%=@stadium.roof_type%>
           </div>
           <div>
             Team: <%=@stadium.team %>
           </div>
         </div>
        <div class="panel"> Description:
          <p><%=@stadium.description %> </p>
        </div>
      </div>
      <div class="content" id="panel4">
        <%@hotels.each do |hotel| %>
          <div class="panel" >
           <%= hotel[:name] %><br>
           <%= image_tag hotel[:image_url], style: "height: 100px; width: 150px;" %> <br>
          Rating: <%= hotel[:rating] %><br>
          Website: <%= link_to "#{hotel[:url]}", hotel[:url] %><br>
          Location: <%= hotel[:location] %> <br>
          Phone Number: <%= hotel[:display_phone] %>
        </div>
        <%end%>
     </div>
      <div class="content" id="panel5">
       <%@bars.each do |bar| %>
        <div class="panel" >
           <%= bar[:name] %><br>
           <%= image_tag bar[:image_url], style: "height: 100px; width: 150px;" %> <br>
           Rating: <%= bar[:rating] %><br>
           Website: <%= link_to "#{bar[:url]}", bar[:url] %><br>
           Location: <%= bar[:location] %> <br>
           Phone Number: <%= bar[:display_phone] %>


        </div>
        <%end%>
      </div>
      <div class="content" id="panel6">
      <%@attractions.each do |a| %>
        <div class="panel" >
          <%= a[:name] %><br>
          <%= image_tag a[:image_url], style: "height: 100px; width: 150px;" %> <br>
          Rating: <%= a[:rating] %><br>
          Website: <%= link_to "#{a[:url]}", a[:url] %><br>
          Location: <%= a[:location] %> <br>
          Phone Number: <%= a[:display_phone] %>

        </div>
      <%end%>
      </div>
    </div>




